.App {
  font-family: 'Lato';
  font-weight: 400;
}

.App > div {
  padding: 20px;
}

div.nopad {
  padding: 0;

}

h1, h2, h3 {
  font-family: 'Lato';
  font-weight: 700;
}

a {
  color: var(--cambridge-blue)
}