.App {
  font-family: 'Lato';
  font-weight: 400;
  padding-top: 10px;
}

h1, h2, h3 {
  font-family: 'Lato';
  font-weight: 700;
}

a {
  color: var(--cambridge-blue);
  text-decoration: none;
}

a:hover {
  color: var(--darker-blue);
  text-decoration: none;
}