.sidebar {
  position:fixed;
  left: 0;
  bottom:0;
  top:0;
  z-index: 1000;
  display:block;
  transition: width .3s ease;
}

.collapsed {
  width: var(--collapsed-sidebar-width);
}
.normal {
  width: var(--sidebar-width);
}

@media (max-width: 600px) {
  .sidebar {
    display:none;
  }
}

.sidebar .list-group-item {
  background-color: transparent;
  border:none;
  font-weight: bold;
  white-space: nowrap;
}
.sidebar .list-group-item:hover {
  background-color: var(--darkjasper);
}

.sidebar .list-group-item.active {
  background-color: var(--cambridge-blue);
}

.sidebar a, .sidebar a:hover {
  color: white;
  text-decoration: none;
}

.sidebar button {
  background-color: transparent;
  border: none;
  color: white;
  font-weight: bold;
}